.DS_Store
*DS_Store
Build
Index
*.xcworkspace
Pods/
.build
Package.resolved

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
/.build
/Packages
xcuserdata/
DerivedData/
*/.swiftpm/configuration/registries.json
*/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc